@model OrderVM
@{
    ViewData["Title"] = "Index";
}

<!-- breadcrumb area start -->
<div class="breadcrumb-area bg-img" data-bg="~/assets/img/banner/breadcrumb-banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap text-center">
                    <nav aria-label="breadcrumb">
                        <h1 class="breadcrumb-title">Checkout</h1>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->
<!-- checkout main wrapper start -->
<div class="checkout-page-wrapper section-padding">
    <div class="container">
        <div class="row">
            <!-- Checkout Billing Details -->
            <div class="col-lg-6">
                <div class="checkout-billing-details-wrap">
                    <h4 class="checkout-title">Billing Details</h4>
                    <div class="billing-form-wrap">
                       @await Html.PartialAsync("_OrderPartial",Model.Order)
                    </div>
                </div>
            </div>

            <!-- Order Summary Details -->
            <div class="col-lg-6">
                <div class="order-summary-details">
                    <h4 class="checkout-title">Your Order Summary</h4>
                    <div class="order-summary-content">
                        <!-- Order Summary Table -->
                        <div class="order-summary-table table-responsive text-center">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Products</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                    @foreach (BasketVM basket in Model.BasketVMs)
                                    {
                                            <td>
                                                <a href="product-details.html">@basket.Name <strong> × @basket.Count</strong></a>
                                            </td>
                                            <td>$@((basket.Price*basket.Count).ToString("F2"))</td>
                                    }
                                        </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Sub Total</td>
                                        <td><strong>$@Model.BasketVMs.Sum(s => s.Price * s.Count).ToString("F2")</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Shipping</td>
                                        <td class="d-flex justify-content-center">
                                            <ul class="shipping-type">
                                                <li>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" id="flatrate" name="shipping" class="custom-control-input" checked />
                                                        <label class="custom-control-label" for="flatrate">
                                                            Flat
                                                            Rate: $@Model.BasketVMs.Sum(s=>s.Extax*s.Count).ToString("F2")
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Total Amount</td>
                                        <td><strong>$@(Model.BasketVMs.Sum(b=>b.Extax * b.Count) + Model.BasketVMs.Sum(b=>b.Count * b.Price))</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- Order Payment Method -->
                        <div class="order-payment-method">
                            <div class="single-payment-method show">
                                <div class="payment-method-name">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="cashon" name="paymentmethod" value="cash" class="custom-control-input" checked />
                                        <label class="custom-control-label" for="cashon">Cash On Delivery</label>
                                    </div>
                                </div>
                                <div class="payment-method-details" data-method="cash">
                                    <p>Pay with cash upon delivery.</p>
                                </div>
                            </div>
                            <div class="single-payment-method">
                                <div class="payment-method-name">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="directbank" name="paymentmethod" value="bank" class="custom-control-input" />
                                        <label class="custom-control-label" for="directbank">
                                            Direct Bank
                                            Transfer
                                        </label>
                                    </div>
                                </div>
                                <div class="payment-method-details" data-method="bank">
                                    <p>
                                        Make your payment directly into our bank account. Please use your Order
                                        ID as the payment reference. Your order will not be shipped until the
                                        funds have cleared in our account..
                                    </p>
                                </div>
                            </div>
                            <div class="single-payment-method">
                                <div class="payment-method-name">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="checkpayment" name="paymentmethod" value="check" class="custom-control-input" />
                                        <label class="custom-control-label" for="checkpayment">
                                            Pay with
                                            Check
                                        </label>
                                    </div>
                                </div>
                                <div class="payment-method-details" data-method="check">
                                    <p>
                                        Please send a check to Store Name, Store Street, Store Town, Store State
                                        / County, Store Postcode.
                                    </p>
                                </div>
                            </div>
                            <div class="single-payment-method">
                                <div class="payment-method-name">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="paypalpayment" name="paymentmethod" value="paypal" class="custom-control-input" />
                                        <label class="custom-control-label" for="paypalpayment">Paypal <img src="~/assets/img/paypal-card.jpg" class="img-fluid paypal-card" alt="Paypal" /></label>
                                    </div>
                                </div>
                                <div class="payment-method-details" data-method="paypal">
                                    <p>
                                        Pay via PayPal; you can pay with your credit card if you don’t have a
                                        PayPal account.
                                    </p>
                                </div>
                            </div>
                            <div class="summary-footer-area">
                                <div class="custom-control custom-checkbox mb-20">
                                    <input type="checkbox" class="custom-control-input" id="terms" required />
                                    <label class="custom-control-label" for="terms">
                                        I have read and agree to
                                        the website <a href="index.html">terms and conditions.</a>
                                    </label>
                                </div>
                                <button form="checkoutform type="submit" href="#" class="btn btn-sqr">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- checkout main wrapper end -->
